
<div class="container-mt-9 ">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
         <h2 class="titulo">{{"Lista de cartas"| uppercase }} </h2>
          <button class="btn btn-primary float-end" routerLink="add">Nuevo Registro</button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let carta of listCartas">
                <td [routerLink]="['/edit' , carta.id]" class ="select" scope="col">{{carta.id}}</td>
                <td scope="col">{{carta.title}}</td>
                <td scope="col">{{carta.body}}</td>
                <td class ="select">
                  <i (click)="open(mymodal, carta)" class="fa-solid fa-trash text-danger"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar Registro</h4>

      <span  class="cerrar-modal" (click)="modal.dismiss('Cross click') " aria-hidden="true">x</span>

  </div>
  <div class="modal-body">
    ¿Desea eliminar el elemento con el id “{{cartaSelect}}”?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Cerrar')">Cerrar</button>

    <button type="button" class="btn btn-primary" (click)="modal.close('Aceptar')">Aceptar</button>
  </div>
</ng-template>
